<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="coverage-report/" />
            <text outputFile="php://stdout" showUncoveredFiles="false" />
        </report>
    </coverage>
    <source>
        <include>
            <directory>src</directory>
            <file>helpers/helpers.php</file>
        </include>
    </source>
</phpunit>
